# Don't put *.swp, *.bak, etc here; those belong in a global ~/.gitignore.
# Check out https://help.github.com/articles/ignoring-files for how to set that up.

/_site
/.idea
/.vscode
.DS_Store
/_data/companies_id_ruby.yml
/assets/showcase/companies_id_ruby
deploy_key
deploy_key.pub
