/*--------------------------------------------------
Additional, Reset by Rails Indonesia
--------------------------------------------------*/

.text-center {
  text-align: center;
}

.turbolinks-progress-bar {
  height: 2.5px;
  background-color: #c52f24;
  box-shadow: 0 0 10px #e83a2d, 0 0 5px #e83a2d;
}
