<p>
  Sampai di sini Ruby telah berhasil terinstal, selanjutnya kita akan menginstal Rails.
</p>
<p>
  Secara default Gem telah terinstall, perintah di bawah ini untuk memastikan bahwa Kalian menggunakan Gem versi terbaru:
</p>
{% gist ceed7e67ab2ff4cf64b0d2632e10e85c gem-update-system.sh %}

<p>
  Saatnya instalasi Rails, ini membutuhkan waktu yang agak lama tergantung dengan koneksi internet yang Kalian gunakan:
</p>
{% gist ceed7e67ab2ff4cf64b0d2632e10e85c gem-install-rails.sh %}

<p>
  Sampai di sini versi Gem, Rails dan daftar Gem lainnya telah terinstal.
  <br>
  Untuk mencetak versi Rails yang telah terinstal lakukan perintah berikut:
</p>
{% gist ceed7e67ab2ff4cf64b0d2632e10e85c rails-version.sh %}

<p>
  Untuk memperbarui versi gem yang terinstal, Kalian bisa lakukan perintah di bawah:
</p>
{% gist ceed7e67ab2ff4cf64b0d2632e10e85c gem-update.sh %}
