<p>
  Sampai di sini Ruby telah berhasil terinstal, selanjutnya kita akan menginstal Rails.
</p>
<p>
  Secara default Gem telah terinstall, perintah di bawah ini untuk memastikan bahwa Kalian menggunakan Gem versi terbaru:
</p>
<code data-gist-id="ceed7e67ab2ff4cf64b0d2632e10e85c" data-gist-file="gem-update-system.sh"></code>

<p>
  Saatnya instalasi Rails, ini membutuhkan waktu yang agak lama tergantung dengan koneksi internet yang Kalian gunakan:
</p>
<code data-gist-id="ceed7e67ab2ff4cf64b0d2632e10e85c" data-gist-file="gem-install-rails.sh"></code>

<p>
  Sampai di sini versi Gem, Rails dan daftar Gem lainnya telah terinstal.
  <br>
  Untuk mencetak versi Rails yang telah ter-instal lakukan perintah berikut:
</p>
<code data-gist-id="ceed7e67ab2ff4cf64b0d2632e10e85c" data-gist-file="rails-version.sh"></code>

<p>
  Untuk memperbarui versi gem yang terinstal, Kalian bisa lakukan perintah di bawah:
</p>
<code data-gist-id="ceed7e67ab2ff4cf64b0d2632e10e85c" data-gist-file="gem-update.sh"></code>
