---
layout: default
---
<div class="logo">
  <a href="/">
    <img src="/assets/images/rails-id-logo.svg" height="100" alt="Ruby on Rails Indonesia">
  </a>
</div>

<div class="select__wrapper" id="language-list">
  <div class="language__item active">
    Bahasa
  </div>

  <div class="language__items">
    <div class="language__item">
      <a href="/doctrine/">Indonesia</a>
    </div>
    <div class="language__item">
      <a href="/doctrine/en">English</a>
    </div>
  </div>
</div>

{{ content }}

<section>
  <p class="back">
    <a href="/">&larr; Kembali ke Beranda</a>
  </p>
</section>

<script src="/assets/js/language_switcher.js"></script>
